USE [master]
GO
/****** Object:  Database [HotelBookings]    Script Date: 8/5/2018 11:43:08 PM ******/
CREATE DATABASE [HotelBookings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBookings', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelBookings.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelBookings_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelBookings_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBookings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBookings]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 8/5/2018 11:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [nvarchar](450) NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[Completed] [bit] NOT NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CustomerCity] [nvarchar](max) NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[Guests] [int] NOT NULL,
	[OtherRequests] [nvarchar](max) NULL,
	[Paid] [bit] NOT NULL,
	[TotalFee] [decimal](18, 2) NOT NULL,
	[HotelID] [nvarchar](450) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
