USE [HotelReviews]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/5/2018 11:42:44 PM ******/
DROP TABLE [dbo].[Reviews]
GO
USE [master]
GO
/****** Object:  Database [HotelReviews]    Script Date: 8/5/2018 11:42:44 PM ******/
DROP DATABASE [HotelReviews]
GO
/****** Object:  Database [HotelReviews]    Script Date: 8/5/2018 11:42:44 PM ******/
CREATE DATABASE [HotelReviews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelReviews', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelReviews.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HotelReviews_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HotelReviews_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelReviews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelReviews]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/5/2018 11:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ReviewerEmail] [nvarchar](max) NULL,
	[ReviewerName] [nvarchar](max) NULL,
	[HotelID] [nvarchar](450) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
